name: deploy
on:
  push:
    tags:
      - "v*"
jobs:
  pypi:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3"
      - name: Install dependencies
        run: pip install .[deploy]
      - name: build
        run: python -m build && ls -lh dist
      - name: twine check
        run: twine check --strict dist/*
      - name: twine upload
        run: twine upload dist/*
        env:
          TWINE_USERNAME: ${{ secrets.TWINE_USERNAME }}
          TWINE_PASSWORD: ${{ secrets.TWINE_PASSWORD }}
      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: dist/*
